// DEVELOPER:  YOQUBJON RABBIMQULOV
// INSTAGRAM:  YOQUB.3
// TELEGRAM:   @IM_YOUR3
// NUMBER:     +998 91 530 56 14
// new project by Yoqubjon Rabbimqulov
//FONT FAMILy
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Readex+Pro&display=swap');
* {
    margin: 0;
    padding: 0;
}

// START HEADER
.container {
    padding: 0 73px;
}

header {
    &.container {
        padding: 31px 73px;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .menu {
            ul {
                list-style: none;
                display: flex;
                gap: 33px;
                li {
                    a {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 17px;
                        text-transform: uppercase;
                        color: #000000;
                        text-decoration: none;
                    }
                }
                li {
                    // header li > a hover
                    a:hover {
                        color: #0e0ae6;
                        transition: 0.5s;
                    }
                }
            }
        }
        .shopp {
            display: flex;
            gap: 22px;
        }
    }
}

// END HEADER
// START SECTION
section {
    .back-section {
        width: 100%;
        height: 550px;
        background: #DCE5E2;
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .section__left {
            margin-left: 56px;
            h1 {
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 58px;
                line-height: 70px;
                color: #000000;
            }
            p {
                margin-top: 19px;
                margin-bottom: 30px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
            }
            button {
                padding: 14px 53px;
                border: none;
                background: none;
                border: 1px solid #000000;
                border-radius: 200px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                text-transform: capitalize;
                color: #000000;
                cursor: pointer;
            }
            button:hover {
                background: #3d3ae0;
                color: white;
                transition: 0.5s;
                border: 1px solid #3d3ae0;
            }
        }
    }
}

//SECTION SECOND START
.sectin__second {
    margin-top: 28px;
    .theme {
        margin-top: 47px;
        text-align: center;
        h1 {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 52px;
            text-align: center;
            color: #000000;
            margin-bottom: 9px;
        }
        p {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #000000;
            margin-bottom: 55px;
        }
    }
    .category__flex {
        display: flex;
        justify-content: center;
        gap: 16px;
        .categories__left {
            .laptop {
                padding: 0 42px;
                width: 639px;
                height: 472px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                margin-bottom: 72px;
                cursor: pointer;
                .theme__laptop {
                    text-align: right;
                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 19px;
                        color: #000000;
                    }
                    h2 {
                        font-family: 'Readex Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 38px;
                        color: #000000;
                    }
                }
            }
            .watch {
                padding: 0 42px;
                width: 639px;
                height: 270px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                display: flex;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                .theme__watch {
                    text-align: end;
                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 19px;
                        color: #000000;
                    }
                    h2 {
                        font-family: 'Readex Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 38px;
                        color: #000000;
                    }
                }
            }
        }
        .categories__right {
            display: flex;
            gap: 16px;
            .phone {
                padding: 144px 0;
                width: 312px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
                .theme__laptop {
                    text-align: center;
                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 19px;
                        color: #000000;
                    }
                    h2 {
                        font-family: 'Readex Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 38px;
                        color: #000000;
                    }
                }
                img {
                    margin-left: 16px;
                }
            }
            .table {
                padding: 144px 0;
                width: 312px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                cursor: pointer;
                .theme__table {
                    text-align: center;
                    p {
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #000000;
                    }
                    h2 {
                        font-family: 'Readex Pro';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 32px;
                        line-height: 38px;
                        color: #000000;
                    }
                }
            }
        }
    }
    margin-bottom: 6px;
}

// END SECTION SECOND
// START SECTION THIRD
.section__third {
    .theme__selled {
        margin-top: 53px;
        text-align: center;
        margin-bottom: 31px;
        h1 {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 52px;
            color: #000000;
            margin-bottom: 9px;
        }
        h2 {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #000000;
        }
    }
    .selled__product {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        .macbook__pro {
            img {
                margin-bottom: 37px;
            }
            h1 {
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 28px;
                color: #000000;
                margin-bottom: 9px;
            }
            p {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 17px;
                color: #4B4B4B;
                margin-bottom: 25px;
            }
            h2 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }
        }
    }
}

// END SECTION THIRD
//START BEST SELLING
.best__selling {
    .best__selling__theme {
        margin-top: 72px;
        text-align: center;
        margin-bottom: 31px;
        h1 {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 52px;
            color: #000000;
            margin-bottom: 9px;
        }
        p {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #000000;
            margin-bottom: 56px;
        }
    }
    .smart__pack {
        display: flex;
        justify-content: space-between;
        margin-bottom: 28px;
        .smart__pack__product {
            width: 413px;
            height: 453px;
            background: #F8F9FA;
            border-radius: 16px;
            padding-top: 41px;
            text-align: center;
            div {
                h2 {
                    font-family: 'Readex Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 13px;
                    line-height: 17px;
                    color: #000000;
                }
                h1 {
                    font-family: 'Readex Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 35px;
                    color: #000000;
                    margin-bottom: 30px;
                }
                button {
                    padding: 14px 63px;
                    border: none;
                    background: none;
                    border: 1px solid #000000;
                    border-radius: 200px;
                    cursor: pointer;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 22px;
                    text-align: center;
                    text-transform: capitalize;
                    color: #000000;
                    margin-bottom: 30px;
                }
                button:hover {
                    background: #3d3ae0;
                    color: white;
                    transition: 0.5s;
                    border: 1px solid #3d3ae0;
                }
            }
        }
    }
}

// START IDEAS PLACE
.ideas__place {
    margin-top: 47px;
    .ideas__theme {
        text-align: center;
        margin-bottom: 56px;
        h1 {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 52px;
            color: #000000;
        }
        p {
            font-family: 'Readex Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            color: #000000;
        }
    }
    .ideas__flex {
        display: flex;
        margin-bottom: 74px;
        .ideas__theme__info {
            margin-left: 35px;
            h1 {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 30px;
                color: #000000;
                margin-bottom: 28px;
            }
        }
    }
    .all {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 24px;
        a {
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-transform: capitalize;
            color: #000000;
        }
        a:hover {
            color: #0e0ae6;
            transition: 0.5s;
        }
    }
}

.footer__section {
    .search__theme {
        display: flex;
        justify-content: center;
        text-align: center;
        div {
            h1 {
                margin-top: 51px;
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 42px;
                line-height: 52px;
                color: #000000;
                margin-bottom: 24px;
            }
            input {
                width: 650px;
                padding: 21px 22px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 17px;
                color: #000000;
                background: #F8F9FA;
                border: 1px solid #C5C5C5;
                border-radius: 100px;
                outline: none;
            }
            input:hover {
                border-color: #0e0ae6;
                transition: 0.5s;
            }
        }
    }
    .button__search {
        text-align: center;
        margin-top: 18px;
        margin-bottom: 18px;
        button {
            padding: 12px 22px;
            border: none;
            background: none;
            background: #FFFFFF;
            border: 1px solid #C5C5C5;
            border-radius: 200px;
            margin-bottom: 7px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            cursor: pointer;
        }
        button:hover {
            color: white;
            background-color: #0e0ae6;
            transition: 0.5s;
            border-color: #0e0ae6;
        }
    }
    .footer__section__end {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 19px;
        .footer__section__background {
            width: 935px;
            height: 450px;
            background: #DCE5E2;
            border-radius: 16px;
            .footer__section__theme {
                h1 {
                    margin-top: 47px;
                    font-family: 'Readex Pro';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 42px;
                    line-height: 52px;
                    color: #000000;
                    margin-bottom: 9px;
                }
                p {
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    color: #000000;
                    margin-bottom: 14px;
                }
            }
            .footer__input {
                .inpa {
                    padding-left: 32px;
                    border: none;
                    outline: none;
                    width: 285px;
                    height: 50px;
                    background: none;
                    background: #DCE5E2;
                    border: 1px solid #000000;
                    border-radius: 54px 0px 0px 54px;
                    outline: none;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #000000;
                }
                .sub {
                    cursor: pointer;
                    border: none;
                    outline: none;
                    background: #000000;
                    border-radius: 0px 200px 200px 0px;
                    width: 115px;
                    height: 52px;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                    color: #FFFFFF;
                    position: relative;
                    right: 3.1px;
                    bottom: 1px;
                }
                .sub:hover {
                    color: white;
                    background-color: #0e0ae6;
                    transition: 0.5s;
                    border-color: #0e0ae6;
                }
                .inpa:hover {
                    transition: 0.5s;
                    border-color: #0e0ae6;
                }
            }
        }
    }
}

footer {
    &.container {
        background: #F8F9FA;
    }
    .footer__flex {
        height: 378px;
        display: flex;
        justify-content: space-between;
    }
    .footer__logo {
        margin-top: 55px;
        img {
            margin-bottom: 19px;
        }
        p {
            a {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #000000;
                text-decoration: none;
            }
            a:hover {
                font-weight: 600;
                color: #0e0ae6;
                text-decoration-line: underline;
            }
        }
    }
    .footer__menu {
        margin-top: 55px;
        ul {
            list-style-type: none;
            .footer__fixed {
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 600;
                font-size: 22px;
                line-height: 28px;
                color: #000000;
                margin-bottom: 19px;
            }
            li {
                margin-bottom: 14px;
                a {
                    text-decoration: none;
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 17px;
                    line-height: 22px;
                    color: #000000;
                }
                a:hover {
                    font-weight: 600;
                    color: #0e0ae6;
                    text-decoration-line: underline;
                }
            }
        }
    }
    .footer__linie {
        width: 100%;
        border: 1px solid #DCE5E2;
    }
    .footer__made {
        margin-top: 53px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        .made__left {
            a {
                text-decoration: none;
            }
            display: flex;
            align-items: center;
            strong {
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }
            hh {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }
        }
        .made__right {
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
            }
            display: flex;
            align-items: center;
            strong {
                font-family: 'Readex Pro';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }
            hh {
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #000000;
            }
        }
    }
}

// DEVELOPER:  YOQUBJON RABBIMQULOV
// INSTAGRAM:  YOQUB.3
// TELEGRAM:   @IM_YOUR3
// NUMBER:     +998 91 530 56 14